# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/
Example_VietANPR_Cpp/x64/
ExampleVietANPR_CS/obj/
ExampleVietANPR_VB/obj/
VietANPRdemo/obj/
VietANPR_UI/obj/
